CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
STRIPE_SECRET=

# https://hkdk.events/csvpd2grzy7eq0
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=whsec_LCS5i68MQJc26hNhyYRDwfPCUZG8LJxz

AUTH_DATABASE_URL=mongodb+srv://<user>:<password>@auth-microservice-db.qvhab.mongodb.net/AuthDB

JWT_SECRET=

AUTH_DATABASE_URL=postgresql://